/*
Colorblind safe color palette from colorbrewer2.org
#7b3294 purple
#c2a5cf light purple
#f7f7f7 white
#a6dba0 light green
#008837 dark green
*/
  body {
  background-color: #c2a5cf;
  color: #7b3294;
  text-align: center;
}

h1 {
  color: #f7f7f7;
}
